@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes logoSequence {
    0% {
        transform: translateX(0) translateY(0); /* Posisi awal */
        opacity: 1;
    }
    25% {
        transform: translateX(-100px) translateY(0); /* Gerak ke kiri */
        opacity: 1;
    }
    50% {
        transform: translateX(100px) translateY(100px); /* Gerak ke kanan dan turun */
        opacity: 1;
    }
    75% {
        transform: translateX(0) translateY(200px); /* Kembali ke kiri dan turun lebih jauh */
        opacity: 1;
    }
    100% {
        transform: translateX(0) translateY(200px); /* Posisi akhir */
        opacity: 0; /* Menghilang */
    }
}

.animate-logoSequence {
    animation: logoSequence 10s ease-in-out infinite;
}
